﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="neuesFensterSchueler.aspx.cs" Inherits="DigitalerLaufzettel.Forms.WebForm2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body style="height: 287px">
    <form id="form1" runat="server">
        <div>
            <asp:DropDownList ID="DropDownList1" runat="server" OnInit="DropDownList1_Init" AutoPostBack ="true">
            </asp:DropDownList>
            <asp:Button ID="button_Kursbeitreten" runat="server" Text="Ausgewähltem Kurs Beitreten" OnClick="button_Kursbeitreten_Click" Width="295px" />
        <asp:Label ID="label_Session" runat="server" Text="Label"></asp:Label>
        </div>
       <asp:DropDownList ID="dropdownlist_Exkursionen" runat="server" OnInit="dropdownlist_Exkursionen_Init" AutoPostBack ="true">
        </asp:DropDownList>
        <asp:Button ID="button_ExkursionBeitreten" runat="server" Text="Ausgewählter Exkursion Beitreten" OnClick="button_ExkursionBeitreten_Click" />
        <p>
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click1" Text="Abmelden" />
        </p>
        <asp:Button ID="button_PasswortÄndern" runat="server" OnClick="button_PasswortÄndern_Click" Text="Passwort Ändern" />
    </form>
</body>
</html>
